
.order-payment-method-title + .order-payment-currency {
    float:left;
    clear:both;
    width:100%;
}

.order-payment-method-title div {
    float:left;
    clear:both;
    width:100%;
}

/* ============================ Order Overview -  Payment Method Styling ============================ */

/* PayPal */
.tig_buckaroo_payment_paypal:before {
    background-image: url(../images/tig_buckaroo_paypal_title.png);
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -4px;
    background-size: auto 30px;
    width: 40px;
    height: 30px;
    content: ' ';
}

/* iDeal */
.tig_buckaroo_payment_ideal:before {
    background-image: url(../images/tig_buckaroo_ideal_title.png);
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
    background-size: auto 25px;
    width: 40px;
    height: 30px;
    content: ' ';
    display :block;
}

/* Credit Card */
.tig_buckaroo_payment_creditcard:before {
    background-image: url(../images/tig_buckaroo_creditcard_title.png);
    background-repeat: no-repeat;
    margin-top: 0;
    float: left;
    margin-right: 10px;
    background-size: auto 23px;
    width: 40px;
    height: 30px;
    content: ' ';
}

/* Sepa Direct Debit */
.tig_buckaroo_payment_sepadirectdebit:before {
    background-image: url(../images/tig_buckaroo_sepa_title.png);
    background-repeat: no-repeat;
    margin-top: 4px;
    float:left;
    margin-right: 10px;
    background-size: auto 14px;
    width: 40px;
    height: 30px;
    content: ' ';
}

/* Bank Transfer */
.tig_buckaroo_payment_transfer:before {
    background-image: url(../images/tig_buckaroo_transfer_title.png);
    background-repeat: no-repeat;
    margin-top: 4px;
    float:left;
    margin-right: 10px;
    background-size: auto 14px;
    width: 40px;
    height: 30px;
    content: ' ';
}

/* Mr Cash */
.tig_buckaroo_payment_mrcash:before {
    background-image: url(../images/tig_buckaroo_mrcash_title.png);
    background-repeat: no-repeat;
    margin-top: -2px;
    float: left;
    margin-right: 10px;
    background-size: auto 23px;
    width: 40px;
    height: 30px;
    content: ' ';
}

/* Sofort Banking */
.tig_buckaroo_payment_sofortbanking:before {
    background-image: url(../images/tig_buckaroo_sofort_title.png);
    background-repeat: no-repeat;
    margin-top: 5px;
    float:left;
    margin-right: 10px;
    background-size: auto 12px;
    width: 40px;
    height: 30px;
    content: ' ';
}

/* Giropay */
.tig_buckaroo_payment_giropay:before {
    background-image  :url(../images/tig_buckaroo_giropay_title.png);
    background-repeat :no-repeat;
    margin-top        :2px;
    float             :left;
    margin-right      :10px;
    background-size   :auto 17px;
    width             :40px;
    height            :30px;
    content           :' ';
}

/* ===================== Order Overview -  Credit Card / Debit Card Method Styling ======================= */

.tig_buckaroo_payment_card_mastercard:before {
     background-image  :url(../images/creditcard/ico-mc.png);
     background-repeat :no-repeat;
     margin-top        :18px;
     float             :left;
     margin-right      :10px;
     background-size   :auto 23px;
     width             :40px;
     height            :30px;
     content           :' ';
 }

.tig_buckaroo_payment_card_maestro:before {
    background-image  :url(../images/creditcard/ico-mae.png);
    background-repeat :no-repeat;
    margin-top        :18px;
    float             :left;
    margin-right      :10px;
    background-size   :auto 23px;
    width             :40px;
    height            :30px;
    content           :' ';
}

.tig_buckaroo_payment_card_Amex:before {
    background-image  :url(../images/creditcard/ico-ae.png);
    background-repeat :no-repeat;
    margin-top        :15px;
    float             :left;
    margin-right      :10px;
    background-size   :auto 27px;
    width             :40px;
    height            :30px;
    content           :' ';
}

.tig_buckaroo_payment_card_visa:before {
    background-image  :url(../images/creditcard/ico-vi.png);
    background-repeat :no-repeat;
    margin-top        :18px;
    float             :left;
    margin-right      :10px;
    background-size   :auto 23px;
    width             :40px;
    height            :30px;
    content           :' ';
}

.tig_buckaroo_payment_card_visaelectron:before {
     background-image  :url(../images/creditcard/ico-ve.png);
     background-repeat :no-repeat;
     margin-top        :18px;
     float             :left;
     margin-right      :10px;
     background-size   :auto 23px;
     width             :40px;
     height            :30px;
     content           :' ';
 }

.tig_buckaroo_payment_card_Vpay:before {
    background-image  :url(../images/creditcard/ico-vp.png);
    background-repeat :no-repeat;
    margin-top        :18px;
    float             :left;
    margin-right      :10px;
    background-size   :auto 23px;
    width             :40px;
    height            :30px;
    content           :' ';
}

.tig_buckaroo_payment_card_cartebleuevisa:before {
    background-image  :url(../images/creditcard/ico-cbl.png);
    background-repeat :no-repeat;
    margin-top        :18px;
    float             :left;
    margin-right      :10px;
    background-size   :auto 23px;
    width             :40px;
    height            :30px;
    content           :' ';
}

.tig_buckaroo_payment_card_cartebancaire:before {
    background-image  :url(../images/creditcard/ico-cb.png);
    background-repeat :no-repeat;
    margin-top        :18px;
    float             :left;
    margin-right      :10px;
    background-size   :auto 23px;
    width             :40px;
    height            :30px;
    content           :' ';
}