<div class="sepadirectdebit payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-2col" >
            <form data-hasrequired="* Required Fields">
                <fieldset id="" class="fieldset payment">

                    <div class="field required">
                        <label for="bankaccountholder" class="label">
                            <span data-bind="i18n: 'Bank account holder'"> </span>

                        </label>
                        <input id="bankaccountholder" class="input-text field _error" type="text" data-bind="{ value: bankaccountholder }" name="payment[tig_buckaroo_sepadirectdebit][customer_account_name]">
                    </div>

                    <div class="field required">
                        <!-- ko if: isnl -->
                        <label class="label" for="bankaccountnumber">
                            <span data-bind="i18n: 'Bank account number'"> </span>
                        </label>
                        <input id="bankaccountnumber"  class="input-text field _error" type="text" data-bind="{ value: bankaccountnumber }" name="payment[tig_buckaroo_sepadirectdebit][customer_iban]">
                        <!-- /ko -->
                    </div>

                    <div class="field required">
                        <!-- ko ifnot: isnl -->
                        <label for="bicnumber" class="label" >
                            <span data-bind="i18n: 'BIC number'"> </span>
                        </label>
                        <input id="bicnumber" class="input-text field _error" type="text" data-bind="{ value: bicnumber }" name="payment[tig_buckaroo_sepadirectdebit][customer_bic]">
                        <!-- /ko -->
                    </div>

                    <span data-bind="i18n: 'Please enter these fields as they appear on your bank account.' "></span>

                </fieldset>
            </form>
        </div>

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed() || !accountNumberIsValid()}
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

    </div>
</div>